<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=ABeeZee&subset=latin" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
    <title>Weather App</title>
</head>
<body>
<div class="cen">
    <p id = "main_tittle">Enter the city name (country code optional) </p>
    <form id="standard" method="POST">
        <input type="search" class="text-input" name="city-name" placeholder="&#128269 Tel Aviv, IL">
        <button type="submit" class="search-button">Submit</button>
    </form>
</div>
<h4 class="today">For Now: </h4>
<div class="main-content">
    <div class="today-date">
        <p>{{ date_time }}</p>
        <p>{{DailyWeather.today}}</p>
        <h3>{{DailyWeather.city}}, {{DailyWeather.country}}</h3>
    </div>

    <div class="current-temp">
        <h3 >{{DailyWeather.temp}}°c</h3>
        <img src="{{DailyWeather.icon}}" alt="Weather Condition Icon">
    </div>

    <div class = 'day_weather'>
         <div class="main-details">
             <h3><b>Wind:</b> {{DailyWeather.wind}} km/h</h3>
        <!-- <span>Pressure: {{pressure}} mb</span> -->
             <h3><b>Humidity:</b> {{DailyWeather.humidity}} %</h3>
         </div>

    <h1 class="current-temp_feels"><b>Feels Like:</b> {{DailyWeather.temp_feels}}°c</h1>

    <div class="main-details">
        <h3><b>Min Temp:</b> {{DailyWeather.temp_min}}°c</h3>
        <h3><b>Max Temp: </b>{{DailyWeather.temp_max}}°c</h3>
    </div>
  </div>
</div>

<h4 class="next-days">What`s Next...</h4>
<container class="detail-content" target="_blank">

    <div id="day1" class="core-details">
            <h4>{{WeeklyWeather.1.date}}</h4>
            <p>N:{{WeeklyWeather.1.night}}°c</p>
            <h4>D:{{WeeklyWeather.1.day}}°c</h4>
            <p>H:{{WeeklyWeather.1.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day2" class="core-details">
            <h4>{{WeeklyWeather.2.date}}</h4>
            <p>N:{{WeeklyWeather.2.night}}°c</p>
            <h4>D:{{WeeklyWeather.2.day}}°c</h4>
            <p>H:{{WeeklyWeather.2.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day3" class="core-details">
            <h4>{{WeeklyWeather.3.date}}</h4>
            <p>N:{{WeeklyWeather.3.night}}°c</p>
            <h4>D:{{WeeklyWeather.3.day}}°c</h4>
            <p>H:{{WeeklyWeather.3.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day4" class="core-details">
            <h4>{{WeeklyWeather.4.date}}</h4>
            <p>N:{{WeeklyWeather.4.night}}°c</p>
            <h4>D:{{WeeklyWeather.4.day}}°c</h4>
            <p>H:{{WeeklyWeather.4.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day5" class="core-details">
            <h4>{{WeeklyWeather.5.date}}</h4>
            <p>N:{{WeeklyWeather.5.night}}°c</p>
            <h4>D:{{WeeklyWeather.5.day}}°c</h4>
            <p>H:{{WeeklyWeather.5.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day6" class="core-details">
            <h4>{{WeeklyWeather.6.date}}</h4>
            <p>N:{{WeeklyWeather.6.night}}°c</p>
            <h4>D:{{WeeklyWeather.6.day}}°c</h4>
            <p>H:{{WeeklyWeather.6.humidity}} %</p>
    </div>

    <div class="vertical-line"></div>

    <div id="day7" class="core-details">
            <h4>{{WeeklyWeather.7.date}}</h4>
            <p>N:{{WeeklyWeather.7.night}}°c</p>
            <h4>D:{{WeeklyWeather.7.day}}°c</h4>
            <p>H:{{WeeklyWeather.7.humidity}} %</p>
    </div>
</container>
</body>
</html>