<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=ABeeZee&subset=latin" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
    <title>Weather App</title>
</head>
<body>
<div class="cen">
    <p id = "main_tittle">Enter the city name (country code optional) </p>
    <form id="standard" method="POST">
        <input type="search" class="text-input" name="city-name" placeholder="&#128269 Tel Aviv, IL">
        <button type="submit" class="search-button">Submit</button>
    </form>
</div>

<div class="main-content">
    <div class="today-date">
        <p>{{ date_time }}</p>
        <p>{{DailyWeather.today}}</p>
        <h3>{{DailyWeather.city}}, {{DailyWeather.country}}</h3>
    </div>

    <div class="current-temp">
        <h3 >{{DailyWeather.temp}}°c</h3>
        <img src="{{DailyWeather.icon}}" alt="Weather Condition Icon">
    </div>

<div class = 'day_weather'>
    <div class="main-details">
        <h3>Wind: {{DailyWeather.wind}} km/h</h3>
        <!-- <span>Pressure: {{pressure}} mb</span> -->
        <h3>Humidity: {{DailyWeather.humidity}} %</h3>
    </div>

    <h1 class="current-temp_feels">Feels Like: {{DailyWeather.temp_feels}}°c</h1>

    <div class="current-details">
        <h3>Min Temp: {{DailyWeather.temp_min}}°c</h3>
        <h3>Max Temp: {{DailyWeather.temp_max}}°c</h3>
    </div>
  </div>
</div>

<div class="next-days">What`s Next...</div>
<container class="detail-content" target="_blank">
    <div class="day1">
        <div class="core-details">
             <p>{{WeeklyWeather.1.date}}</p>
            <h4>N:{{WeeklyWeather.1.night}}°c</h4>
            <p>D:{{WeeklyWeather.1.day}}°c</p>
            <h4>H:{{WeeklyWeather.1.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day2">
        <div class="core-details">
            <p>{{WeeklyWeather.2.date}}</p>
            <h4>N:{{WeeklyWeather.2.night}}°c</h4>
            <p>D:{{WeeklyWeather.2.day}}°c</p>
            <h4>H:{{WeeklyWeather.2.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day3">
        <div class="core-details">
            <p>{{WeeklyWeather.3.date}}</p>
            <h4>N:{{WeeklyWeather.3.night}}°c</h4>
            <p>D:{{WeeklyWeather.3.day}}°c</p>
            <h4>H:{{WeeklyWeather.3.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day4">
        <div class="core-details">
            <p>{{WeeklyWeather.4.date}}</p>
            <h4>N:{{WeeklyWeather.4.night}}°c</h4>
            <p>D:{{WeeklyWeather.4.day}}°c</p>
            <h4>H:{{WeeklyWeather.4.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day5">
        <div class="core-details">
            <p>{{WeeklyWeather.5.date}}</p>
            <h4>N:{{WeeklyWeather.5.night}}°c</h4>
            <p>D:{{WeeklyWeather.5.day}}°c</p>
            <h4>H:{{WeeklyWeather.5.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day6">
        <div class="core-details">
            <p>{{WeeklyWeather.6.date}}</p>
            <h4>N:{{WeeklyWeather.6.night}}°c</h4>
            <p>D:{{WeeklyWeather.6.day}}°c</p>
            <h4>H:{{WeeklyWeather.6.humidity}} %</h4>
        </div>
    </div>

    <div class="vertical-line"></div>

    <div class="day7">
        <div class="core-details">
            <p>{{WeeklyWeather.7.date}}</p>
            <h4>N:{{WeeklyWeather.7.night}}°c</h4>
            <p>D:{{WeeklyWeather.7.day}}°c</p>
            <h4>H:{{WeeklyWeather.7.humidity}} %</h4>
        </div>
    </div>
</container>
</body>
</html>