body {
    background: url('../images/giphy (1).gif') no-repeat center;
    background-size: cover;
}

button {
    background-color: blancmange;
    font-weight: bold;
    color: darken;
}

.material-icons {
    size: 10px;
}

.cen {
    padding:20px 0px;
    margin: 100 auto;
    border-radius: 15px;
    background-color: lavender;
    opacity: 0.7;
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 20px;
}

.text-input {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    padding: 10px 20px;
    font-size: 13px;
    border: 2px solid rgb(17, 67, 103);
    border-radius: 4px;
}

.search-button {
    font-family: 'Monoton', cursive;
    background: #6b4a18;
    padding: 10px 20px 10px 20px;
    border: 5px solid;
    border-radius: 5px;
    margin: auto;
    outline: none;
    border: none;
    font-size: 14px;
    color: #e2ce20;
    margin-bottom: 50px;
}

.search-button:hover {
    background: #72a8a8;
    text-decoration: none;
}

.main-content {
    font-family: 'Lora', serif;
    line-height: 200%;
    border-radius: 15px;
    font-size: 10px;
   text-align: center;
    background-color: lightgrey;
    opacity: 0.7;
    padding: 20px 50px;
    margin-left: 400px;
    margin-right: 400px;

    }
.today-date{
    font-size: 20px
}
.day-weather {
   display: flex;
   justify-content: space-between;
   flex: 10px;
   text-align: center;
   margin: 16px;

}

.current-temp{
    font-size:30px;
}
h4{
   font-size: 20px;
   font-family: 'Raleway', sans-serif;
   text-align: center;
}
.today{
    color: white;
    font-size: 40px;
    font-family: 'Monoton', cursive;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em grey;
    margin-top:20px;
    margin-bottom:20px
}
.next-days{
    color: white;
    font-size: 40px;
    font-family: 'Monoton', cursive;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em grey;
    margin-top:30px;
    margin-bottom:30px
}

.detail-content {
   display: flex;
   justify-content: space-between;
   background-color: lightgrey;
   opacity: 0.8;
   margin: 10px
   text-align: center;
   padding: 0px 20px 0px 20px;
}

.core-details{
    font-size: 15px;
    border-radius: 15px;
    text-align: center;

}

.vertical-line {
    border-left: 1px solid darkcyan;
}

.main-details{
    display: flex;
    justify-content: space-between;
    font-size: 15px
}
